.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogItems {
  padding: 10px;
}

.dialogItem {
}

.messages {
  padding: 10px;
}

.message {
}

.dialogItems .active {
  color: white;
}
